body {
    background-color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    overflow-x: hidden;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    background-color: #444;
    border-radius: 10px;
    overflow-y: auto;
    margin: 20px 0;
}

.flex-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
}

.container {
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
}

.calculator-container {
    flex-basis: 50%;
    box-sizing: border-box;
}

.right-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
}

h1, h2 {
    color: #4a4a4a;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

p {
    color: #4a4a4a;
    font-size: 14px;
}

.login-form, .registro-form, .calculator, .admin-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-form input, .registro-form input, .calculator input, .calculator select, .admin-form input, .admin-form select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    background-color: #f9f9f9;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #8e44ad;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #732d91;
}

.result-section {
    background-color: #e0e0e0;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 4px;
    margin-top: 10px;
    display: none;
    text-align: center;
}

.estiloResultados1 {
    background-color: #fff;
    padding: 5px;
    border-radius: 4px;
}

.result-section p {
    color: #4a4a4a;
    background-color: #fff;
    padding: 5px;
    border-radius: 4px;
}

.close-btn {
    background-color: #ff6b6b;
    margin-top: 0;
}

.close-btn:hover {
    background-color: #ff5252;
}

.cotizacion-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cotizacion-item label {
    font-size: 14px;
    color: #4a4a4a;
}

.cotizacion-item input {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    width: 100px;
    background-color: #f9f9f9;
}

.cotizacion-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cotizacion-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    background-color: #f9f9f9;
}

#login-form button, #verHistorial {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #8e44ad;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

#login-form button:hover, #verHistorial:hover {
    background-color: #732d91;
}

.boton-eliminar {
    background-color: #ff6b6b;
    color: #fff;
}

.boton-eliminar:hover {
    background-color: #ff5252;
}

#selectEliminarMoneda {
    margin-top: 20px;
}

@media (max-width: 1024px) {
    .flex-container {
        flex-direction: column;
        gap: 10px;
    }

    .container {
        width: 100%;
        padding: 10px;
    }

    button {
        font-size: 12px;
        padding: 8px;
    }

    .login-form input, .registro-form input, .calculator input, .calculator select, .admin-form input, .admin-form select {
        font-size: 12px;
        padding: 8px;
        text-align: center;
    }

    .cotizacion-item input {
        font-size: 12px;
        padding: 5px;
    }

    .main-container {
        width: 100%;
        padding: 10px;
        margin: 20px;
    }

    .calculator-container {
        flex: 1 1 100%;
        margin-right: 0;
        width: 100%;
    }

    .result-section {
        padding: 10px;
    }

    .right-container {
        flex: 1 1 100%;
        width: 100%;
    }
}
.cotizacion-wrapper {
    flex-direction: column;
}
